*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.left {
    width: 20%;
    height: 100%;
    float: left;
    background-color: rgb(72, 41, 1);
}
.right {
    width: 80%;
    height: 100%;
    float: right;
    background-color: burlywood;
}

.nav-img img {
    width: 240px;
    height: 240px;
    border-radius: 120%;
    border: 4px solid #c8d2ff;
}

.nav-menu li {
    list-style-type: none;
    text-align: center;
    font: Arial;
    font-size: x-large;
    margin: 20px;
    text-decoration: none;
}

.nav-menu li a {
    color: #c8d2ff; 
}

.nav-menu li a:hover {
    color: #2c1387;
}

#nav-profile {
    margin-top: 40%;
}

section.description {
    margin-left: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.description h1 {
    font: Arial;
    color: #382b9ae0;
    font-size: 40px;
}

.description ol {
    font: arial;
    color: #3600f7;
    font-size: 20px;
}

.description h1 > span {
    color: #382b9ae0;
}

.description h2 {
    color: #382b9ae0;;
}

.description h3 {
    font: arial;
    color: #382b9ae0;
    font-size: 20px;
}

.description h3 > span > a {
    color: #3600f7;
    text-decoration: none;
}

.description p {
    font: arial;
    color: #382b9ae0;
    font-size: 18px;
}

.description li {
    font: arial;
    color: #382b9ae0;
    font-size: 20px;
}

.description ul {
   list-style: none;
}

.icons-social i {
    font-size: 38px;
    color: #382b9ae0;
}